*.py linguist-language=Python
*.html linguist-language=HTML
*.css linguist-language=CSS
*.js linguist-language=JavaScript

templates/** linguist-vendored
static/** linguist-vendored
staticfiles/** linguist-vendored
